* {
    margin: 0;
    padding: 0;
}

.hide {
    display: none;
}

.score {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 0;
    text-align: center;

    z-index: 1;
    color: skyblue;
    background-color: black;

    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: 500;
}

.start {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 2rem 0;
    text-align: center;

    z-index: 1;
    color: #999;
    background-color: #222;
    cursor: pointer;

    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: 700;
}

.area {
    width: 300px;
    height: 100%;
    position: relative;
    margin: auto;
    background-color: #222;
    overflow: hidden;
}

.car, .enemy {
    position: absolute;
    width: 50px;
    height: 110px;
}

.car  {
    left: 125px;
    bottom: 10px;
    background: transparent url('img/sapuar.png') center / cover no-repeat;
}

.line {
    position: absolute;
    width: 10px;
    height: 150px;
    left: 145px;

    background-color: #999;
}
