.hide {
    display: none;
}

.area {
    width: 300px;
    height: 100%;
    position: relative;
    margin: auto;
    background-color: #222;
    overflow: hidden;
}

.car {
    position: absolute;
    width: 50px;
    height: 110px;
    left: 125px;
    bottom: 10px;

    background: transparent url('img/sapuar.png') center / cover no-repeat;
}

.line {
    position: absolute;
    width: 10px;
    height: 150px;
    left: 145px;

    background-color: #999;
}
